{{ $name := promptStringOnce . "git name" "What is your git name" }} 
{{ $email := promptStringOnce . "git email" "What is your git email address" }} 

[data]
name = "{{ $name | quote }}"
email = "{{ $email | quote }}"
